api==0.0.7
Flask==2.3.2
Flask_Caching==2.0.2
Flask_Migrate==4.0.4
flask_sqlalchemy==3.0.3
holidays==0.24
Pillow==9.0.1
pysqlcipher3==1.2.0
python-dotenv==1.0.0
python-barcode==0.13.1
pytz==2023.3
redis==4.5.5
Requests==2.30.0
SQLAlchemy==1.4.18
